@charset "UTF-8";

.business_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business_top ul {
  display: inline-flex;
  padding: 50px 0;
}

.business_top li {
  text-align: center;
  padding: 50px;
}

.business_top li a {
  color: #555;
}

.business_top li a:hover {
  opacity: 0.5;
}

.business_top li small {
  color: green;
}

#business_list1,
#business_list2,
#business_list3 {
  display: inline-block;
}

.business_list {
  width: 100%;
}

.business_list img {
  border-radius: 50%;
}

.business_list h1 {
  font-size: 30px;
  font-weight: normal;
  color: #555;
  line-height: 0.8;
  padding-bottom: 7%;
}

.business_list h1 small {
  font-size: 12px;
  color: green;
}

.business_list h2 {
  font-size: 20px;
  color: #555;
  font-weight: normal;
  padding-bottom: 7%;
}

.business_list p {
  width: 80%;
  font-size: 12px;
  color: #555;
  letter-spacing: 3px;
  line-height: 2.6;
}

.business_item1 {
  width: 40%;
  display: inline-block;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.business_item2 {
  width: 50%;
  float: right;
  margin-top: 10%;
  position: relative;
  z-index: 2;
}

.business_item1_reverse {
  width: 40%;
  display: inline-block;
  float: left;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.business_item2_reverse {
  width: 50%;
  display: inline-block;
  margin-top: 10%;
  float:right;
  position: relative;
  z-index: 2;
  margin-left: 10%;
}

.business_bg {
  background: #eee;
  width: 85%;
  height: auto;
  float: right;
  position: relative;
  bottom: 200px;
  z-index: 0;
}

.business_element {
  padding: 30% 0 5%;
}

.business_element ul {
  background: #fff;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 100px;
  margin: auto;
}

.business_element ul li {
  list-style: disc;
  width: 40%;
  margin-bottom: 20px;
}

.business_element ul li:last-child {
  margin-bottom: 0;
}

.business_bg .btn {
  float: right;
  width: 13%;
  text-align: center;
  background: green;
  padding: 10px 20px;
  margin: 0 17% 8% 0;
}

.business_bg .btn a {
  color: #fff;
  font-size: 15px;
}


.letter {
  width: 980px;
  margin: 0 auto 150px;
  padding:0 20px;
}

.letter_inner {
  border: 1px solid #111;
  padding: 50px;
}

.letter_inner h1 {
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  bottom: 75px;
  width: 30%;
  margin: 0 auto 50px;
  padding: 0 50px;
}

.letter_list h2 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 50px;
  font-weight: normal;
}

.letter_list h2 small {
  font-size: 15px;
  color: green;
}

.letter_item p {
  letter-spacing: 3px;
  line-height: 3;
  margin-bottom: 50px;
}

.letter_item p img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

label {
  margin-left:300px;
 display: inline-block;
 margin-bottom:50px;
}

.button {
margin-left: 600px;
}

.form {
  margin-top:300px;
  height:1000px;
}

.form p  {
  margin-bottom:50px;
}

input,
textarea  {
  border: solid green 1px;
  margin-bottom: 15px;
  width:65%;
  float:right;
}

input {
  width:300px;
  padding: 6px;
  margin-right:570px;
}

textarea {
  height:200px;
 
}

.button {
  background-color:green;
  color:white;
  border:none;
  margin-top:50px;
  width:200px;
  height:50px;
}

.form-inner p {
  text-align: center;
  font-size:50px;
  font-weight:bold;
  color:green;
  }
  
  .form-inner small {
  color:#555;
  font-size:20px;
  }
  